@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/fira-code/fira-code-400.6366a7935a.woff2') format('woff2');
}

@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/line-seed-jp/line-seed-jp-400.a962e1152a.woff2') format('woff2');
}

@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/line-seed-jp/line-seed-jp-700.2b1360c99c.woff2') format('woff2');
}
